/************
Navbar ▶ About
************/

.nav-link:focus,
.nav-link:hover {
	color: var(--clr-white);
}

.dropdown a {
	color: var(--clr-white);
	text-transform: uppercase;
}

.dropdown-menu {
	margin-top: 0;
	border-radius: 0;
}

.dropdown-menu-dark {
	background-color: rgba(52, 58, 64, 0.01);
	border: none;
}

a.dropdown-item {
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 2px;
	color: var(--clr-primary-blue);
}
.dropdown-item:active {
	color: var(--clr-secondary-pink);
	text-decoration: none;
}
/************
About Body
************/
.about-me h1 {
	letter-spacing: -0.021em;
	padding-bottom: 10px;
}

.about-me p {
	color: var(--clr-font-gray);
	font-size: 1rem;
	line-height: 1.5294717647;
	letter-spacing: -0.021em;
	font-weight: 400;
}

.about-me {
	/* background-color: var(--clr-background-item-box); */
	max-width: 750px;
}

.about-contact-link {
	color: var(--clr-font-gray);
}

/* .about-container {
	background-color: var(--clr-background-item-box);
} */

/************
Media Queries
************/

@media (min-width: 992px) {
	.about-me h1 {
		font-size: 3rem;
	}

	.about-me p {
		font-size: 1.2rem;
	}

	.dropdown-menu {
		padding-top: 21px;
	}
	.dropdown-menu-dark {
		background-color: rgba(58, 60, 64, 0.7);
		border: none;
	}
	.dropdown-menu-dark .dropdown-item {
		color: var(--clr-white);
	}
}
