section {
	background-color: var(--clr-background-white);
}

.card {
	background: var(--clr-background-item-box);
}

section .heading .main-title {
	line-height: 1.1;
	margin-bottom: 0;
}

.py-2 {
	padding-bottom: 0;
}

.my-2 {
	margin-bottom: 0;
}

h2.heading {
	line-height: 1.4;
	letter-spacing: 1.5px;
}

p.instrument-type {
	color: var(--clr-font-gray);
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 0;
	padding-top: 0;
}

h4.our_price {
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 3rem;
}
.retail_price {
	font-size: 1rem;
	color: var(--clr-font-gray);
	margin-top: 6px;
	/* margin-bottom: 8px 0; */
}
p.retail_price {
	margin-bottom: 0;
}

/************
Feature Item Images (Carousel)
************/

.featured-item-container {
	max-width: 750px;
}

.card-img-top {
	height: 45vh;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators {
	bottom: -23px;
}

.carousel-indicators [data-bs-target] {
	background-color: #000;
}

/*******************
Product Description
*******************/
.product-description-container {
	background-color: var(--clr-background-item-box);
	margin: 30px auto;
	min-width: 300px;
}

p.product-description {
	color: var(--clr-font-gray);
	font-size: 18px;
	line-height: 1.5294717647;
	letter-spacing: -0.021em;
	font-weight: 400;
	padding: 30px 5px;
}

/************
About Me
************/
.about-me {
	background-color: var(--clr-background-item-box);
}

/************
Media Queries
************/
/* @media (min-width: 768px) {
	.card-img-top {
		height: 70vh;
	}

	.product-description-container {
		margin-top: 36px;
		margin-bottom: 36px;
	}

	p.product-description {
		color: var(--clr-font-gray);
		font-size: 18px;
		line-height: 1.5294717647;
		letter-spacing: -0.021em;
		font-weight: 400;
		margin-bottom: 0;
	}
} */
