section {
	background-color: var(--clr-background-white);
}

.card {
	background: var(--clr-background-item-box);
}

section .heading .main-title {
	line-height: 1.1;
}

.featured-item-subtitle {
	color: var(--clr-font-gray);
	font-size: 1.2rem;
	margin-top: 6px;
}

.heading .our_price {
	margin-top: 2rem;
	margin-bottom: 0;
}
.retail_price {
	font-size: 1.2rem;
	color: var(--clr-font-gray);
	margin-top: 6px;
	/* margin-bottom: 8px 0; */
}
p.retail_price {
	margin-bottom: 0;
}

/************
Feature Item Images (Carousel)
************/

.featured-item1-container {
	max-width: 750px;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators {
	bottom: -23px;
}

.carousel-indicators [data-bs-target] {
	background-color: #000;
}

/************
Media Queries
************/
/* @media (min-width: 768px) {
	.card-img-top {
		height: 78vh;
	}
} */
