/* :root {
	--clr-primary-blue: #1a2456;
	--clr-secondary-pink: #efc2b3;
	--clr-background-white: #f0efed;
	--clr-background-orange: #ff8d6b;
	--clr-background-item-box: linear-gradient(
		48deg,
		rgba(196, 196, 196, 1) 0%,
		rgba(217, 217, 217, 1) 63%
	);

	--clr-white: #fff;
	--clr-button: #efc2b3;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--ff-primary: prompt, sans-serif;
	--inner-container: 10rem;
} */
.featured-item1-container {
	max-width: 750px;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators {
	bottom: -23px;
}

.carousel-indicators [data-bs-target] {
	background-color: #000;
}

section {
	background-color: var(--clr-background-white);
}

.card {
	background: var(--clr-background-item-box);
}
