:root {
	/* --clr-primary-blue: #1a2456;
	--clr-secondary-pink: #efc2b3;
	--clr-background-white: #f0efed;
	--clr-background-orange: #ff8d6b;
	--clr-background-item-box: linear-gradient(
		48deg,
		rgba(196, 196, 196, 1) 0%,
		rgba(217, 217, 217, 1) 63%
	); */

	--clr-primary-blue: #000;
	--clr-secondary-pink: #fff;
	--clr-background-white: #ffffff;
	--clr-background-item-box: #f6f6f6;
	--clr-font-gray: #6a6a6a;
	--clr-white: #fff;
	--clr-button: #0d6efd;
	--clr-blue: #0d6efd;
	--clr-black-hover: rgb(83, 83, 83);
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--ff-primary: 'Roboto', sans-serif;
	--ff-accent: 'Playfair Display SC', serif;
	--inner-container: 10rem;

	/* not in use  */
	/* --yellow: #f5b335;
  --green: #5a7f71;
  --teal: #5a7f71;
  --cyan: #5a7f71;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --success: #5a7f71;
  --info: #5a7f71;
  --warning: #f5b335;
  --danger: #ff8d6b;
  --light: #efc2b3;
  --dark: #1a2456; 
   --ff-accent: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;*/
}
html {
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 p {
	margin: 0;
}

body {
	font-family: var(--ff-primary);
	font-weight: 300;
	font-size: 1rem;
	color: var(--clr-primary-blue);
	line-height: 1.6;
	min-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1;
	/* margin-bottom: 1em; */
}

a {
	color: var(--clr-primary-blue);
}

.item-card:hover {
	color: var(--clr-black-hover);
}

/******
Header
******/
header {
	padding-top: 3rem;
	padding-bottom: 1rem;
	background-color: var(--clr-primary-blue);
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.45),
			rgba(27, 27, 27, 0.85)
		),
		/* linear-gradient(
			to top,
			rgba(26, 36, 86, 0.45),
			rgba(26, 36, 86, 0.85)
		),  */
			url('../img/iain-cridland-i_R5LrvExBU-unsplash.jpg');
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3rem;
	letter-spacing: -2.5px;
}
.header a {
	color: var(--clr-secondary-pink);
	text-decoration: none;
}
.header p {
	text-transform: capitalize;
	color: rgb(243, 243, 243);
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.6;
	letter-spacing: 0.011em;
	padding-top: 1.5rem;
}

.heading-paragraph {
	/* font-size: 1.333rem; */
	width: 100%;
	max-width: 32em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 1.6;
}

.landing-text {
	color: var(--clr-primary-blue);
	margin-top: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/******
Nav Bar
******/

.navbar {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.navbar-nav .shopping-bag-container {
	visibility: hidden;
}

.navbar-toggler-icon {
	margin-top: 4px;
}

.nav-link:hover {
	color: rgb(255, 208, 208);
}
a.nav-link {
	color: var(--clr-secondary-pink);
	letter-spacing: 2px;
}

.btn:hover {
	color: transparent;
}

/* .shopping-bag-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
} */

.cart-icon {
	/* display: inline-block; */
	width: 2.2em;
	height: 2.2em;
	vertical-align: middle;
	/* background-repeat: no-repeat; */
	/* background-position: center; */
	/* background-size: 100%; */
}

.sm-view-cart {
	padding-top: 13px;
	padding-bottom: 11px;
}

/***********
Welcome Page
***********/
.welcome {
	height: 30rem;
	color: var(--clr-white);
	background: var(--clr-background-white);
}
.welcome p {
	color: var(--clr-primary-blue);
}

/************
Featured Items
************/
.featured-items {
	background: var(--clr-background-white);
}

.featured-items .card {
	background: var(--clr-background-item-box);
}

.featured-items h2 {
	margin: 8px 5px;
}
.card-img-top {
	width: 100%;
	height: 40vh;
	object-fit: contain;
}

.cart a {
	background-color: var(--clr-blue);
	text-decoration: none;
}

/************
New Listings
************/
.new-listings {
	background: var(--clr-background-white);
}

.new-listings .card {
	background: var(--clr-background-item-box);
}

.new-listings h2 {
	margin: 8px 5px;
}

/************
Categories
************/
.categories {
	background: var(--clr-background-white);
}

.categories .card {
	background: var(--clr-background-item-box);
}

.categories h5 {
	font-size: 1rem;
	overflow-wrap: normal;
}

.card-body {
	background-color: var(--clr-background-white);
}

.img-container {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.img-container category-img {
	margin: 0 auto;
}

/************
Footer
************/
footer {
	background: var(--clr-primary-blue);
	color: var(--clr-secondary-pink);
}

footer a {
	color: var(--clr-secondary-pink);
}

footer .btn {
	display: inline-block;
	font-size: 0.75rem;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0.375rem 1.75rem;
	margin: 1rem;
	line-height: 1.5;
	border-radius: 0;
	background-color: var(--clr-button);
	border-color: var(--clr-button);
}
footer h4 {
	min-width: 6rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}

footer p {
	font-size: 0.8rem;
	font-weight: 300;
	line-height: 1.5;
}

.copyright {
	font-size: 0.85rem;
	margin-top: 3rem;
}

.form-control {
	display: inline-block;
	width: 57%;
	max-width: 25rem;
}

/************
Media Queries
************/

@media (min-width: 576px) {
	.heading-paragraph {
		font-size: 1.5rem;
	}

	.header h1 {
		font-size: 5rem;
	}
	.header p {
		font-size: 1.6rem;
	}

	.navbar {
		font-size: 0.9rem;
	}

	.categories h5 {
		font-size: 1.25rem;
	}

	footer h4 {
		font-size: 1.5rem;
	}
	footer p {
		font-size: 1rem;
	}

	.copyright {
		font-size: 1rem;
	}
}

/* @media (min-width: 768px) {
} */

@media (min-width: 992px) {
	.col-right {
		display: none;
	}
	.navbar-nav .shopping-bag-container {
		visibility: visible;
	}
}
